.activitiesContainer{
    background-color: #fff;
    /* padding: 20px 0;     */
    /* min-width: 950px; */

    .activitiesMainContent{
        /* background-color: lime; */
        padding-top: 50px;

        /* li{
            list-style-type: disc;
            margin-left: 20px;

            font-size: 1.55rem;
            line-height: 1.5em;
            font-weight: 700;
            color: #636466;
        }
        li::marker{
            color: #54afe2;
        } */
    }

    
}