
.aboutPageContainer{
    background-color: #fff;
    /* min-width: 950px; */

    /* .mainCopyInner{
        h1{
            color: #20428d;
            padding-bottom: 20px;
        }
        p{
            padding: 0 200px;
            font-size: 2.25rem;
        }
    } */

    img{
        pointer-events: none;
    }

}


@media only screen and (max-width: 550px) {
    .aboutPageContainer{
      .buttonLink{       
            margin: 10px auto 85px;
        }
    }
}