@import "tailwindcss";
* {
  box-sizing: border-box;
}

:root {
  --background: #20428d;
  --foreground: #171717;
  --hdrFontClr: #20428d;
  --hdrFontSec: #54afe2;
  --ftrBackground: #20428d;
  --ftrFontClr: #ffffff;
  --fntMainClr: #20428d;
  --fntSecClr: #636466;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: var(--font-nunito);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-nunito);
  margin: 0;
  padding: 0;
}



/* Top Navbar styles */
header{ 
  /* min-width: 950px; */
  height: 100px;
  padding: 20px 50px 0;

  position: relative;
  z-index: 50;

  background: #FFFFFF;
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0.5) 85%, rgba(237, 221, 83, 0) 100%); */
  border-bottom: 2px solid #1f418d;
  color: var(--hdrFontClr);
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: 300px auto;
  gap: 5px; /* Space between grid items */
  
  nav{
    display: block;
    
    ul{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      list-style: none;
      gap: 25px;
      margin: 0;
      padding: 0;

      li a{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.238em;
        /* color: #fff; */

        &:hover{
          color: #459acb;
          /* text-shadow: -2px 2px #1f418d; */
        }
      }
      /* Enroll and Call nav options */
      li:last-child a, li:nth-last-of-type(2) a{
        font-weight: 900;
        text-transform: uppercase;
        font-size: 1.758em;
        position: relative;
        top: 5px;
        margin-left: 20px;
        color: #54afe2;

          &:hover{
            color: #1f418d;
          }
      }

      .active {
        /* Add your active link styles here, e.g. */
        color: #459acb;
        font-weight: 900;
      }
    }
   
  }
  
  /* .enroll-sec{
    display: flex;
    justify-content: flex-end;
  }
  .hamburger-menu {
    display: none;
  } */
  
}

/* Top Navbar mobile styles */
@media only screen and (max-width: 950px) {
header{ 
    height: 60px;
    /* min-width: 320px; */
    padding: 5px 5px 0;    
    display: grid;
    grid-template-columns: 130px auto;
    gap: 5px; /* Space between grid items */
  
  nav{
      /* position: absolute;
      background: #ffffff;
      padding: 20px;
      right: 0px; */
      /* display: none; */
    
      ul{
        gap: 10px;
        /* display: flex;
        flex-direction: column;
        text-align: right;
        margin: 0;
        padding: 0; */

        li a{
          font-size: 1em;    
        }

        li.enrollNow a{
          font-weight: 900;
          text-transform: uppercase;
          font-size: 1.238em;
          position: relative;
          top: -3px;
          margin-left: 10px;
          color: #54afe2;
        }
      }
    }

    /* .enroll-sec{
      display: none;
    } */
  
    /*hamburger menu start */
    .hamburger-menu {
      width: 30px;
      height: 24px; 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      /* display: none; */
    }

    .hamburger-menu span {
      display: block;
      width: 100%;
      height: 4px; /* Line thickness */
      background-color: #333; /* Line color */
      border-radius: 2px; /* Rounded ends */
      transition: all 0.3s ease-in-out; /* Smooth transition for animation */
    }

    /* Styles for when the menu is active (e.g., when a class 'open' is added via JavaScript) */
    .hamburger-menu.open span:nth-child(1) {
      transform: translateY(10px) rotate(45deg); /* Adjust translateY based on height and spacing */
    }

    .hamburger-menu.open span:nth-child(2) {
      opacity: 0;
    }

    .hamburger-menu.open span:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg); /* Adjust translateY based on height and spacing */
    }
    /*hamburger menu end */
  }
}
/* Top Navbar styles end */

    .buttonLink{
        width: fit-content;
        margin: 10px auto;
        background-color: var(--fntMainClr);
        color: #fff;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 2.5rem;
        font-weight: 900;
        cursor: pointer;
        transition: background-color 0.3s ease;            

      &:hover{
        background-color: #459acb;
      }
    }


@media only screen and (max-width: 550px) {
header{ 
    height: 425px;
    padding: 5px 5px 0;    
    display: grid;
    /* flex-direction: row; */
    /* grid-template-columns: 1fr;
    grid-template-rows: 75px 85px; */
    grid-template-columns: 1fr;
    grid-template-rows: 85px 300px;
    gap: 10px; /* Space between grid items */
    justify-content: center;
    justify-items: center;
    align-items:center;
        /* padding: 10px 5px; */

    .logo img{  
      margin: 0 auto;
    }
  
  nav{
      /* position: absolute;
      background: #ffffff;
      padding: 20px;
      right: 0px; */
      /* display: none; */
    
      ul{
        display: grid;
        /* grid-template-columns: repeat(4, 1fr); */
        align-self: center;
        justify-content: center;
        justify-items: center;
        align-items:center;
        gap: 10px;
        /* padding: 10px 5px; */
        /* 
        display: flex;
        flex-direction: row;
        text-align: right;
        margin: 0;
        padding: 0; */

        li{
          justify-self: center;
        }

        li a{
          font-size: 1em;    
        }

        li.enrollNow a{
          font-weight: 900;
          text-transform: uppercase;
          font-size: 1.238em;
          position: relative;
          top: 0px;
          margin-left: 0px;
          color: #54afe2;
        }
      }
    }  
  }
}

/* Footer styles */
footer{ 
  /* border-top: 5px solid #54afe2; */
  /* height: 120px; */
  padding: 20px 50px;
  overflow: hidden;
  position: relative;
  bottom: 0;
  z-index: 50;
  
  background: var(--ftrBackground);
  color: var(--ftrFontClr);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px; /* Space between grid items */

  .leftFooter{
    .campInfo{
      width: 1200px;
      /* height: 100%; */
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 10px;
      margin: 50px 0 25px;

      font-weight: 700;
      /* font-size: clamp(1rem, 3vw, 1.5rem); */
      font-size: clamp(0.5rem, 3vw, 1.25rem);
      line-height: 1em;


      li{
        /* padding-bottom: 10px; */
        span.featureTxt{
          font-weight: 900;
          text-transform: uppercase;
          color: var(--hdrFontSec);
        }
      }


      li:last-child{
        text-transform: uppercase;
      }
    }


  }

  .rightFooter{
    nav{
      display: block;
      
      ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        gap: 15px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: 900;

        /* nav menu */
      li a{
        /* font-size: 2.038rem;  */
        font-size: 1.238em;

        &:hover{
          color: #459acb;
        }
      }
      /* Enroll and Call nav options */
      li:last-child a, li:nth-last-of-type(2) a{
          font-weight: 900;
          /* font-size: 2.238rem; */
          font-size: 1.758em;
          position: relative;
          top: -7px;
          /* margin-left: 10px; */
          color: #54afe2;

          &:hover{
            color: #ffffff;
          }
      }

      .active {
        /* Add your active link styles here, e.g. */
        color: #459acb;
        font-weight: 900;
      }
        /* nav menu */

        li.enrollNow a, li.Call a{
          font-weight: 900;
          font-size: 2.238rem;
          position: relative;
          top: -3px;
          /* margin-left: 10px; */
          color: #54afe2;
        }
      }   
    }

    .socialMedia{
      /* height: 100%; */
      display: flex;
      /* flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end; */
      list-style: none;
      gap: 15px;
      /* padding-bottom: 25px; */

      position: absolute;
      bottom: 40px;
      right: 40px;

      li{
        /* background-color: #001138; */
        /* padding: 15px; */
        /* border-radius: 50%; */
        overflow: hidden;
        /* border: solid 1px #54afe2; */
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
footer{ 
    padding: 20px 10px 75px;

    .leftFooter{
      a img{
        /* display: none; */
        margin: 0 auto;
      }

      .campInfo{
        width: 100%;
        margin: 20px 0 25px;

        li{              
            span.featureTxt{
              display: block;
            }
        }
      }
    }

    .rightFooter{
      nav{
        display: none;
      }

      .socialMedia{
        gap: 15px;
        bottom: 20px;
        right: 20px;
      }
    }

    .logo img{  
      margin: 0 auto;
    }
  }
}